// COLORS
$primary-color: #7b01bd;
$secondary-color: #c65300;
$font-family: "Montserrat", sans-serif;

$light-white: #004275;
$white-color: #f7f6f6;
$dark-grey: #000000;

$dark-blue-text: #ffffff; // For headings

// FONT SIZE
$default-font-size: 1.8rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;
